.Description_text {
    text-align: start;
    margin-bottom: 26px
}

@media(max-width:575px) {
    .Description_text {
        margin-bottom: 16px
    }
}

.FilterPresets_wrapper__sSfR_ {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    gap: 8px;
    margin-bottom: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: var(--content-wrapper-side-padding-negative);
    margin-right: var(--content-wrapper-side-padding-negative)
}

.FilterPresets_wrapper__sSfR_::-webkit-scrollbar {
    display: none
}

.FilterPresets_filterWrapper {
    white-space: nowrap
}

.FilterPresets_filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    gap: 8px;
    padding: 12px 16px;
    border-radius: 16px;
    background: #f4f4f4;
    cursor: pointer
}

@media(max-width:575px) {
    .FilterPresets_filter {
        border-radius: 12px
    }
}

.FilterPresets_filter.FilterPresets_active {
    background: var(--constant-black);
    color: var(--constant-white)
}

.FilterPresets_filter.FilterPresets_first {
    margin-left: var(--content-wrapper-side-padding)
}

.FilterPresets_filter.FilterPresets_last {
    margin-right: var(--content-wrapper-side-padding)
}

.FilterPresets_filter .FilterPresets_icon {
    margin: -2px 0
}

:root[lang=ar] .FilterPresets_filter.FilterPresets_first {
    margin-left: unset;
    margin-right: var(--content-wrapper-side-padding)
}

:root[lang=ar] .FilterPresets_filter.FilterPresets_last {
    margin-right: unset;
    margin-left: var(--content-wrapper-side-padding)
}

.SkeletonMerchantCard_card {
    border-radius: 24px;
    overflow: hidden;
    background: #fff;
    box-shadow: var(--box-shadow-56-blur);
    transform: translateZ(0)
}

.SkeletonMerchantCard_card .SkeletonMerchantCard_image {
    width: 100%;
    height: 172px
}

@media(max-width:1360px) {
    .SkeletonMerchantCard_card .SkeletonMerchantCard_image {
        height: 148px
    }
}

@media(max-width:575px) {
    .SkeletonMerchantCard_card .SkeletonMerchantCard_image {
        height: 172px
    }
}

.SkeletonMerchantCard_card .SkeletonMerchantCard_content {
    padding: 12px 16px
}

.SkeletonMerchantCard_card .SkeletonMerchantCard_content .SkeletonMerchantCard_name {
    height: 20px
}

.SkeletonMerchantCard_card .SkeletonMerchantCard_content .SkeletonMerchantCard_primaryDetails {
    height: 16px;
    margin-top: 4px;
    margin-bottom: 4px
}

.MerchantPriceRange_averagePrice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row
}

.MerchantPriceRange_averagePrice .MerchantPriceRange_price {
    color: var(--text-secondary)
}

.MerchantPriceRange_averagePrice .MerchantPriceRange_priceActive {
    color: var(--text-primary)
}

.MerchantPromoTag_promotion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    gap: 4px
}

.MerchantPromoTag_promoTag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 4px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 16px;
    padding: 8px
}

.MerchantPromoTag_promoTag.MerchantPromoTag_normal {
    border-radius: 42px;
    padding: 12px
}

.MerchantPromoTag_bundleDeals,
.MerchantPromoTag_exclusiveOffers,
.MerchantPromoTag_percentageOff,
.MerchantPromoTag_supportLocal {
    background: var(--constant-discount);
    color: var(--constant-white)
}

.MerchantPromoTag_freeDelivery__K_r4_ {
    background: var(--constant-free-delivery);
    color: var(--constant-white)
}

.MerchantPromoTag_freeDeliveryIcon {
    width: 22px;
    height: 16px
}

.MerchantPromoTag_getByOneIcon {
    width: 12px
}

.MerchantPromoTag_getOneByOne {
    background: var(--constant-x-get-y)
}

.MerchantCard_wrapper {
    overflow: hidden;
    box-shadow: var(--box-shadow-56-blur);
    border-radius: 24px
}

.MerchantCard_wrapper .MerchantCard_imageWrapper {
    position: relative;
    width: 100%;
    height: 172px;
    background: var(--constant-grey-light)
}

@media(max-width:1360px) {
    .MerchantCard_wrapper .MerchantCard_imageWrapper {
        height: 148px
    }
}

@media(max-width:575px) {
    .MerchantCard_wrapper .MerchantCard_imageWrapper {
        height: 172px
    }
}

.MerchantCard_wrapper .MerchantCard_imageWrapper .MerchantCard_image {
    object-fit: cover
}

.MerchantCard_wrapper .MerchantCard_imageWrapper .MerchantCard_promotion__ahhw_ {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;
    width: 80%;
    gap: 4px;
    z-index: 1;
    margin-top: 8px;
    -webkit-margin-start: 8px;
    margin-inline-start: 8px
}

.MerchantCard_wrapper .MerchantCard_imageWrapper .MerchantCard_deliveryTime {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    padding: 9px 12px;
    gap: 4px;
    background: var(--background-toast);
    color: var(--constant-white);
    border-radius: 16px 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1
}

.MerchantCard_wrapper .MerchantCard_imageWrapper .MerchantCard_closed {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    color: var(--text-invert-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row
}

.MerchantCard_wrapper .MerchantCard_content {
    padding: 12px 16px
}

.MerchantCard_wrapper .MerchantCard_content .MerchantCard_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

@supports(-webkit-line-clamp:1) {
    .MerchantCard_wrapper .MerchantCard_content .MerchantCard_name {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical
    }
}

.MerchantCard_wrapper .MerchantCard_content .MerchantCard_primaryDetails {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
    gap: 8px
}

.MerchantCard_wrapper .MerchantCard_content .MerchantCard_primaryDetails .MerchantCard_ad {
    padding: 1px 4px 3px;
    background: var(--constant-grey-light);
    border-radius: 100px;
    color: var(--text-secondary)
}

.MerchantCard_wrapper .MerchantCard_content .MerchantCard_secondaryDetails__c9r_K {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
    gap: 8px
}

.MerchantCard_wrapper .MerchantCard_content .MerchantCard_secondaryDetails__c9r_K .MerchantCard_rating {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    align-items: center;
    gap: 4px
}

.MerchantCard_wrapper .MerchantCard_content .MerchantCard_secondaryDetails__c9r_K .MerchantCard_starIcon {
    color: var(--constant-top-rated)
}

.MerchantCard_wrapper .MerchantCard_content .MerchantCard_secondaryDetails__c9r_K .MerchantCard_tags___u15_ {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text-secondary);
    min-height: 16px
}

@supports(-webkit-line-clamp:1) {
    .MerchantCard_wrapper .MerchantCard_content .MerchantCard_secondaryDetails__c9r_K .MerchantCard_tags___u15_ {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical
    }
}

:root[lang=ar] .MerchantCard_name,
:root[lang=ar] .MerchantCard_tags___u15_ {
    text-align: right
}

:root[lang=ar] .MerchantCard_deliveryTime {
    left: 0;
    right: auto;
    border-radius: 0 16px 0 0
}

:root[lang=ar] .MerchantCard_driverIcon {
    transform: scaleX(-1)
}

.Merchants_wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

@media(max-width:1710px) {
    .Merchants_wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media(max-width:1024px) {
    .Merchants_wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media(max-width:575px) {
    .Merchants_wrapper {
        grid-template-columns: minmax(0, 1fr)
    }
}

.Carousel_wrapper {
    position: relative
}

@media(max-width:1360px) {
    .Carousel_wrapper {
        margin-right: var(--content-wrapper-side-padding-negative);
        margin-left: var(--content-wrapper-side-padding-negative)
    }

    .Carousel_wrapper .Carousel_navButtonWrapper__gL_66 {
        display: none
    }
}

.Carousel_carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 24px
}

.Carousel_carousel::-webkit-scrollbar {
    display: none
}

.Carousel_enter__Jz_dI {
    opacity: 0;
    transition: opacity .2s ease
}

.Carousel_enterActive__o_jK8 {
    opacity: 1
}

.Carousel_exit {
    opacity: 1;
    transition: opacity .2s ease
}

.Carousel_exitActive {
    opacity: 0
}

@media(max-width:1360px) {
    :root[lang=en] .Carousel_carousel>:first-of-type {
        padding-left: var(--content-wrapper-side-padding)
    }

    :root[lang=ar] .Carousel_carousel>:first-of-type,
    :root[lang=en] .Carousel_carousel>:last-of-type {
        padding-right: var(--content-wrapper-side-padding)
    }

    :root[lang=ar] .Carousel_carousel>:last-of-type {
        padding-left: var(--content-wrapper-side-padding)
    }
}

.NavButton_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    background: var(--control-tertiary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    box-shadow: var(--box-shadow-56)
}

.NavButton_wrapper.NavButton_prev {
    left: -32px
}

.NavButton_wrapper.NavButton_next__x_uZ2 {
    right: -32px
}

.FoodSubCategoryCard_fakeWrapper {
    height: 100%;
    position: relative
}

.FoodSubCategoryCard_mainImageWrapper {
    height: 108px;
    width: 108px
}

@media(max-width:1024px) {
    .FoodSubCategoryCard_mainImageWrapper {
        width: 88px;
        height: 88px
    }
}

@media(max-width:575px) {
    .FoodSubCategoryCard_mainImageWrapper {
        width: 80px;
        height: 80px
    }
}

.FoodSubCategoryCard_subCategory {
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    max-width: 108px
}

@media(max-width:1024px) {
    .FoodSubCategoryCard_subCategory {
        max-width: 88px
    }
}

@media(max-width:575px) {
    .FoodSubCategoryCard_subCategory {
        max-width: 80px
    }
}

.FoodSubCategoryCard_imageWrapper {
    width: 115px;
    height: 106px;
    position: relative
}

@media(max-width:1024px) {
    .FoodSubCategoryCard_imageWrapper {
        width: 88px;
        height: 88px
    }
}

@media(max-width:575px) {
    .FoodSubCategoryCard_imageWrapper {
        width: 80px;
        height: 80px
    }
}

.FoodSubCategoryCard_label {
    text-align: center;
    margin-top: 8px
}

.FoodSubCategoryCard_cross__O9_bx {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    color: var(--icon-tertiary);
    background: var(--background-elevated-light);
    border-radius: 8px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .08);
    cursor: pointer;
    z-index: 1
}

.FoodSubCategoryCard_mainImageWrapperSlider {
    height: 88px;
    width: 88px
}

@media(max-width:575px) {
    .FoodSubCategoryCard_mainImageWrapperSlider {
        width: 64px;
        height: 64px
    }
}

.FoodSubCategoryCard_imageWrapperSlider {
    width: 88px;
    height: 120px;
    position: relative
}

@media(max-width:575px) {
    .FoodSubCategoryCard_imageWrapperSlider {
        width: 64px;
        height: 88px
    }
}

.FoodSubCategoryCard_labelSlider {
    text-align: center;
    margin-top: 14px
}

.SubCategories_row {
    align-items: flex-start;
    margin-bottom: 40px
}

@media(max-width:1360px) {
    .SubCategories_row {
        margin-bottom: 32px
    }
}

@media(max-width:1024px) {
    .SubCategories_row {
        margin-bottom: 28px
    }
}

@media(max-width:575px) {
    .SubCategories_row {
        margin-bottom: 32px;
        gap: 16px
    }
}

.SubCategoryCard_fakeWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center
}

.SubCategoryCard_subCategory {
    position: relative;
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden
}

@supports((-webkit-mask-image:paint(smooth-corners)) or (mask-image:paint(smooth-corners))) {
    .SubCategoryCard_subCategory {
        border-radius: 0;
        -webkit-mask-image: paint(smooth-corners);
        mask-image: paint(smooth-corners);
        --smooth-corners: 5
    }
}

@media(max-width:575px) {
    .SubCategoryCard_subCategory {
        width: 112px;
        height: 112px
    }
}

.SubCategoryCard_cross {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    background: var(--background-elevated-light);
    border-radius: 8px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .08);
    color: var(--icon-tertiary);
    cursor: pointer;
    z-index: 1
}